.ipynb_checkpoints
notebooks/datatest-files
test-files
__pycache__
*.egg-info/
data/
evergreen-resources/data/
dash-tutorial.ipynb
.venv/
.vscode/
.env
duckdb-data/data-duck/
.DS_Store
.s3mock-data/
build/