.ipynb_checkpoints
notebooks/datatest-files
test-files
__pycache__
*.egg-info/
evergreen-resources/data/
dash-tutorial.ipynb
.venv/
.vscode/
.env
duckdb-data/data-duck/
.DS_Store
.s3mock-data/
build/
notebooks/sandbox/data
notebook_outputs/
.cache.sqlite
*.zip

.tinyb