version: '3.8'

services:
  postgis:
    image: postgis/postgis:16-3.4
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - ./postgis-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    command: 
      -c 'listen_addresses=*'
