version: '3.8'

services:
  ngrok:
    image: ngrok/ngrok:latest
    command: http --log stdout --authtoken=$NGROK_AUTHTOKEN host.docker.internal:8888
    ports:
      - "4040:4040"
    environment:
      - NGROK_AUTHTOKEN=${NGROK_AUTHTOKEN}
    depends_on:
      - jupyter
