version: '3.8'

services:
  jupyter:
    build:
      context: .
      dockerfile: jupyter.Dockerfile
    volumes:
      - .:/workspaces/data-notebooks
    command: /bin/bash -c "/workspaces/data-notebooks/startup.sh"
    ports:
      - "8888:8888"
      - "5001:5000"
    env_file:
      - .env
    depends_on:
      - s3mock

  s3mock:
    image: adobe/s3mock
    environment:
      - initialBuckets=notebooks,output
    ports:
      - "9090:9090"
    volumes:
      - ./.s3mock-data:/s3mockroot

  notebook-executor:
    platform: linux/amd64
    build:
      context: lambdas/notebook-executor
      dockerfile: Dockerfile
    ports:
      - "9000:8080"
    volumes:
      - ./lambdas/notebook-executor/notebooks:/var/task/notebooks
      - ./lambdas/notebook-executor/app:/var/task/app
    environment:
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_DEFAULT_REGION: us-east-1
      AWS_LAMBDA_FUNCTION_MEMORY_SIZE: 1024
      DATADOG_HOST: datadog-agent
    labels:
      com.datadoghq.ad.logs: '[{"source": "docker-compose", "service": "notebook-executor"}]'
      com.datadoghq.tags.env: development
      com.datadoghq.tags.service: notebook-executor

  datadog-agent:
    cgroup: host
    image: datadog/agent:7
    environment:
      DD_API_KEY: ${DD_API_KEY}
      DD_APM_ENABLED: ${DD_APM_ENABLED}
      DD_SITE: ${DD_SITE}
      DD_APM_NON_LOCAL_TRAFFIC: true
      DD_DOGSTATSD_NON_LOCAL_TRAFFIC: true
      DD_LOGS_ENABLED: true
      DD_LOGS_CONFIG_DOCKER_CONTAINER_USE_FILE: true
    env_file:
      - .env
    ports:
      - "8126:8126"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /proc/:/host/proc/:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /opt/datadog-agent/run:/opt/datadog-agent/run:rw

  # postgis:
  #   image: postgis/postgis:16-3.4
  #   environment:
  #     POSTGRES_DB: ${POSTGRES_DB}
  #     POSTGRES_USER: ${POSTGRES_USER}
  #     POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
  #   ports:
  #     - "5432:5432"
  #   env_file:
  #     .env


  # postgis:
  #   build:
  #     context: .
  #     dockerfile: postgis.Dockerfile
  #   environment:
  #     POSTGRES_DB: ${POSTGRES_DB}
  #     POSTGRES_USER: ${POSTGRES_USER}
  #     POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
  #   volumes:
  #   # first is the local drive, second is in the container
  #     - ./postgis-data:/var/lib/postgresql/data
  #   ports:
  #     - "5432:5432"
