version: '3.8'

services:
  jupyter:
    build:
      context: .
      dockerfile: jupyter.Dockerfile
    volumes:
      - .:/workspaces/data-notebooks
    command: /bin/bash -c "/workspaces/data-notebooks/startup.sh"
    ports:
      - "8888:8888"
    env_file:
      - .env

  ngrok:
    image: wernight/ngrok
    command: ngrok http jupyter:8888
    ports:
      - "4040:4040"
    environment:
      - NGROK_AUTH=2YYFQ1cRBJWidCJ5Mkd7zgB6JfU_aAKJ7ximWq8vL5sc3gyi
    depends_on:
      - jupyter
