version: '3.8'

services:
  jupyter:
    build:
      context: .
      dockerfile: jupyter.Dockerfile
    volumes:
      - .:/workspaces/data-notebooks
    command: /bin/bash -c "/workspaces/data-notebooks/startup.sh"
    ports:
      - "8888:8888"
      - "5001:5000"
    env_file:
      - .env
    depends_on:
      - s3mock
      - postgis

  s3mock:
    image: adobe/s3mock
    environment:
      - initialBuckets=notebooks,output
    ports:
      - "9090:9090"
    volumes:
      - ./.s3mock-data:/s3mockroot

  postgis:
    build:
      context: .
      dockerfile: postgis.Dockerfile
    environment:
      POSTGRES_DB: mydatabase
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    volumes:
    # first is the local drive, second is in the container
      - ./postgis-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    env_file:
     - .env
