version: '3.8'

services:

  devcontainer:
    build:
      context: .
      dockerfile: devcontainer.Dockerfile
    command: /bin/sh -c "sleep infinity"
    environment:
      AWS_DEFAULT_REGION: ${AWS_DEFAULT_REGION}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_SESSION_TOKEN: ${AWS_SESSION_TOKEN}
      AWS_S3_BUCKET_NOTEBOOK_OUTPUT: ${AWS_S3_BUCKET_NOTEBOOK_OUTPUT}
    volumes:
      - .:/workspace

  s3mock:
    image: adobe/s3mock
    environment:
      - initialBuckets=notebooks,output
    ports:
      - "9099:9090"
    volumes:
      - ./.s3mock-data:/s3mockroot

  notebook-executor:
    platform: linux/amd64
    build:
      context: .
      dockerfile: lambdas/notebook-executor/notebook-executor.Dockerfile
      args:
        AWS_SESSION_TOKEN: ${AWS_SESSION_TOKEN}
        AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
        AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
        AWS_DEFAULT_REGION: ${AWS_DEFAULT_REGION}
    ports:
      - "9002:8080"
    volumes:
      - ./notebooks:/var/task/notebooks
      - ./packages:/var/task/packages
      - ./lambdas/notebook-executor/app:/var/task/app
    environment:
      AWS_S3_BUCKET_NOTEBOOK_OUTPUT: ${AWS_S3_BUCKET_NOTEBOOK_OUTPUT}
      AWS_LAMBDA_FUNCTION_MEMORY_SIZE: 1024
      AWS_DEFAULT_REGION: ${AWS_DEFAULT_REGION}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_SESSION_TOKEN: ${AWS_SESSION_TOKEN}
      ENV: ${ENVIRONMENT}
      DD_SITE: ${DD_SITE}
      DD_API_KEY: ${DD_API_KEY}
      DD_TRACE_ENABLED: ${DD_TRACE_ENABLED}
      DD_SERVICE: notebook-executor
      DD_ENV: ${ENVIRONMENT}
      DD_VERSION: 0.0.1
      DD_APM_ENABLED: ${DD_APM_ENABLED}
      DD_LOG_LEVEL: ${DD_LOG_LEVEL}
      DD_CAPTURE_LAMBDA_PAYLOAD: true
      DD_LAMBDA_HANDLER: app.lambda_function.lambda_handler
      AWS_LAMBDA_FUNCTION_TIMEOUT: 120
      DD_LOCAL_TEST: ${DD_LOCAL_TEST:-false}
    labels:
      com.datadoghq.ad.logs: '[{"source": "docker-compose", "service": "notebook-executor"}]'
      com.datadoghq.tags.env: development
      com.datadoghq.tags.service: notebook-executor

  postgres:
    build: 
      context: .
      dockerfile: postgres/postgres.Dockerfile
    #image: postgis/postgis:16-3.4 dockerfile above is what we're using. this shouldn't be here.
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST_AUTH_METHOD: scram-sha-256
      POSTGRES_INITDB_ARGS: --auth-host=scram-sha-256
    volumes:
      - ./postgis-data:/var/lib/postgresql/data
      - ./postgres/postgresql.conf:/etc/postgresql.conf
      - ./postgres/schema.sql:/docker-entrypoint-initdb.d/schema.sql
    ports:
      - ${POSTGRES_PORT:-5432}:5432
    command:
      -c 'listen_addresses=*'  # Make sure the DB listens on all network interfaces
