# Geospatial data processing tools
pystac==1.10.1  # Python library for working with SpatioTemporal Asset Catalog (STAC)

stackstac[viz]==0.5.0  # Turn STAC Items into dask-based xarrays

# geospatial data visualisation tools
hvplot==0.10.0  # collection of tools for mapping and tabular data viz
geoviews==1.12.0
holoviews==1.18.3
datashader==0.16.1  # required for hvplot to render raster data
jupyter-bokeh==3.0.4  # needed to render bokeh plots in jupyter notebooks
plotly==5.22.0	# Interactive, browser-based graphing library for Python

# Weather
openmeteo-requests # OpenMeteo API client
requests-cache # Cache requests to OpenMeteo API
retry-requests # Retry requests to OpenMeteo API

# Development and Workflow tools
ddtrace==2.8.4 # Datadog tracing library
datadog==0.49.1 # Datadog monitoring library
datadog_lambda==5.94.0 # Datadog monitoring library for AWS Lambda
aws-secretsmanager-caching==1.1.3 # Caching for AWS Secrets Manager

pyarrow==16.1.0 # apache arrow bindings for python

psycopg2==2.9.9 # PostgreSQL database adapter for Python
sqlalchemy==2.0.31 # SQL toolkit and Object-Relational Mapping (ORM) library for Python