# Core numerical and data manipulation libraries
numpy  # Fundamental package for scientific computing with Python
pandas  # Data analysis and manipulation tool
xarray # multidimensional data arrays, needed for raster data handling

# AWS SDK for Python
boto3  # Amazon Web Services (AWS) SDK for Python

# Web and asynchronous networking libraries
tornado  # Web framework and asynchronous networking library
requests  # Elegant and simple HTTP library for Python, built for human beings

# Data visualization libraries
matplotlib  # Comprehensive library for creating static, animated, and interactive visualizations in Python

# Geospatial data analysis libraries
geopandas  # Extends pandas for geospatial data operations
shapely  # Manipulation and analysis of geometric objects
rasterio[s3]	# Rasterio with S3 support
rioxarray # read  in raster data as xarrays. Needed for some processing packages
earthengine-api  # Google Earth Engine API

# Geospatial data processing tools
gdal2tiles  # For converting raster datasets to directory structures of tiles
pystac  # Python library for working with SpatioTemporal Asset Catalog (STAC)
pystac_client  # Python client for working with STAC APIs
stackstac[viz]  # Turn STAC Items into dask-based xarrays
mapboxgl  # Python interface for Mapbox GL JS, a JavaScript library for interactive maps

# geospatial data visualisation tools
hvplot # collection of tools for mapping and tabular data viz
geoviews 
holoviews
datashader #required for hvplot to render raster data

# Experimental
papermill>=2.0.0  # Tool for parameterizing, executing, and analyzing Jupyter Notebooks. Added version to resolve docker build issue.
polars # A blazingly fast DataFrame library implemented in Rust
sagemaker	# Open source library for training and deploying machine-learned models on Amazon SageMaker
wheel # for package development
#experimental for geodata-harvester package Jenna is working on
# owslib # client programming with Open Geospatial Consortium (OGC) web service (OWS) and their related content models.
geodata-harvester

# Development and Workflow tools
ddtrace # Datadog tracing library
datadog # Datadog monitoring library
