awslambdaric	# AWS Lambda Python runtime interface client (RIC) for Python
pylint	# Python code static checker
nbdev # Git friendly notebook development
pytest # Testing framework
tinybird-cli # Tinybird CLI